$cremeColor: #F5EEDC;
$blueColor: #27548A;
$darkBlueColor: #183B4E;
$darkBlueColorOpaque: #183b4e94;
$goldColor: #DDA853;

.cs-connexion-div{
    min-height: 75vh !important;
    background-color: $cremeColor !important;

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.cs-inner-connexion-div {
    border-radius: 10px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;

    width: 55% !important;
    height: 50% !important;
    background-color: $darkBlueColor !important;
    padding: 3% !important;
    color: $cremeColor !important;
}

.cs-connexion-btn-login-div{
    margin-top: 3% !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}