$cremeColor: #F5EEDC;
$blueColor: #27548A;
$darkBlueColor: #183B4E;
$goldColor: #DDA853;

.cs-panier-div{
    min-height: 75vh !important;
    background-color: $cremeColor !important;

    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: space-between !important;
}